ErrorDocument 404 https://api.sonnymijael.com/v1/kusnt/error
ErrorDocument 500 https://api.sonnymijael.com/v1/kusnt/error

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)/([^\.]+)$ $1.php?$2 [NC,L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /error.php [NC,L]

RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ /error.php [NC,L]
